@{ 
    ViewBag.Title = "Home";
}
<p><h2>View jobs by:</h2></p>
<ul>
    @foreach (KeyValuePair<string, string> action in ViewBag.actions)
    {
        <li><h3><a href="/@action.Key">@action.Value</a></h3></li>
    }
</ul>